<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
    <link rel="stylesheet" href="output.css" />
  </head>
  <body class="bg-white text-red-600">
    <header class="py-6 bg-red-600 text-white">
      <h1 class="text-5xl text-center">Welcome to airbnb</h1>
    </header>
    <main class="py-8">
      <div class="text-center">
        <a href="/host/add-home" class="text-xl text-red-700 border border-red-700 px-4 py-2 rounded hover:bg-red-700 hover:text-white transition duration-300">Add Home</a>
      </div>
    </main>
  </body>
</html>
